<template>
    <div class="example">{{ msg }}</div>
</template>

<script>
    import {HTTP} from '../../js/http_common';

    export default {
        // name: 'selmy-object-manager',
        data() {
            return {
                docroot: '',
                resource: '/',
                results: [],
                errors: [],
                messages: [],
                msg: "Hello, world.",
            }
        },
        mounted() {
            HTTP.get(this.docroot + this.resource)
                .then(response => {
                    this.results = response.data.results;
                })
                .catch(e => {
                    this.errors.push(e)
                });
        }
    }
</script>

<style scoped>
    .example {
        color: red;
    }
</style>

<doc>
    This could be e.g. documentation for the component.
</doc>
