<div
        class="thumbnail object-listing">
    <P>
        {{mtype.name}}
        <a href="#/manage/{{mtype.name | escape}}">(Edit)</a>
        (Browse)
    </P>

    <p>Resource: {{mtype.uri}}</p>
</div>
