<div class="">
    <div class="row" style="padding-bottom: 1em;">
        <div class="col-xs-6">
            <!--Sidebar content-->

            Search: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </select>


        </div>
    </div>
    <div class="row">
        <!--span2 span10-->
        <!--Body content-->
        <div class="col-xs-12 managed-types">
            <div ng-repeat="mtype in managedTypeRoot.contents | filter:query | orderBy:orderProp" ng-include="'/static/partials/managed_type_item_renderer.html'"></div>
        </div>

    </div>
</div>
