<div class="simple-group manage-attributes">
    <table class="table">
        <caption>
            <h3>{{managedType.name}}</h3>

            {{managedType.description}}
        </caption>
        <tbody>
        <tr>
            <td>
                Resource Type
            </td>
            <td>
                {{ get_resource_type_label(managedType.resource_type) }}
            </td>
        </tr>
        <tr>
            <td>
                Resource URI
            </td>
            <td>
                <A TARGET="_blank" HREF=" {{ managedType.uri }} ">{{ managedType.uri }}</A>
            </td>
        </tr>
        <tr>
            <td>
                Parent Resource
            </td>
            <td>
                <A TARGET="_blank" HREF=" {{ managedType.parent_uri }} ">{{ managedType.parent_id }}</A>
            </td>
        </tr>
        <tr>
            <td>
                Created
            </td>
            <td>
                {{ managedType.create_time | format_timestamp }}
            </td>
        </tr>
        <tr>
            <td>
                Last Modified
            </td>
            <td>
                {{ managedType.modify_time  | format_timestamp }}
            </td>
        </tr>
        <tr>
            <td>
                Enabled
            </td>
            <td>
                {{ managedType.enabled }}
            </td>
        </tr>
        <tr>
            <td>
                Locked
            </td>
            <td>
                {{ managedType.locked }}
            </td>
        </tr>
        </tbody>
    </table>

    <table class="table" ng-if="managedType.contents.length > 0">
        <caption>
            <h4>{{managedType.name}} Fields</h4>
        </caption>
        <tbody>
        <tr ng-repeat="child in managedType.contents">
            <td>
                {{ child.name }}
            </td>
            <td>
                {{ child.uri }}
            </td>
        </tr>
        </tbody>
    </table>

</div>
