{% extends "layout.jinja2" %}
{% block title %}
    {% trans %}404 Not Found{% endtrans %} {{ request.path }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>{% trans %}404 Not Found{% endtrans %}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>{% trans %}I'm sorry, but the item you are looking for does not exist: {% endtrans %} {{ request.path_info }}</h4>
        </div>
    </div>
{% endblock %}
