{% extends "layout.jinja2" %}
{% block title %}
    {% trans %}500 Internal Server Error{% endtrans %} {{ request.path }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>{% trans %}500 Internal Server Error{% endtrans %}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>{% trans %}I'm sorry, but there was an internal server error on: {% endtrans %} {{ request.path_info }}</h4>
        </div>
        <div class="col-md-12">
            {{ highlight_js_to_html(dumps(error_json)) |safe }}
        </div>

    </div>
{% endblock %}
