<div class="thumb-tb" style="float: left;">
    <button type="button" onClick="$('#modal-footer-about').modal({});return false;"
            class="btn btn-sm btn-info">
        <span class="glyphicon glyphicon-info-sign"></span>
        {{ gettext('Tools Used') }}
    </button>
</div>

<div class="thumb-tb" style="float: left;  margin-left: 25px" rel="popover"
     data-toggle="popover" data-placement="top" data-html="true"
     data-trigger="hover">
    <button type="button" onClick="return false;"
            class="btn btn-sm btn-warning">
        <span class="glyphicon glyphicon-fire"></span>
        {{ gettext('About This Site') }}
    </button>
</div>
<div class="popper-content hide">
    {% include 'about_footer_popover.jinja2' %}
</div>

<div id="modal-footer-about" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content modal-footer-about-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><strong>
                    {{ request.product_config.product_name }}
                    {{ gettext('Is Powered By:') }}
                </strong></h4>
            </div>
            <div class="modal-body">
                <h4 style="text-align: center">
                    <A HREF="https://bitbucket.org/planders/selmy" target="_blank">
                        {{ gettext('Selmy Home Page') }}
                    </A>
                </h4>
                <h5 style="text-align: center"><small>Source code, documentation and more.</small></h5>
                <p>{{ gettext('This site was created with the following tools:') }}</p>

                <div class="row">
                    <div class="col-md-6 about-col">
                        <a href="http://www.pylonsproject.org/" target="_blank">{{ gettext('Pyramid Web Framework') }}</a>
                    </div>
                    <div class="col-md-6 about-col">
                        <a href="https://github.com/cd34/apex" target="_blank">
                            {{ gettext('Apex and Velruse Authentication') }}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 about-col">
                        <a href="http://getbootstrap.com/" target="_blank">{{ gettext('Twitter Bootstrap') }}</a>
                    </div>
                    <div class="col-md-6 about-col">
                        <a href="http://bootswatch.com/" target="_blank">{{ gettext('Bootswatch Themes') }}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 about-col">
                        <a href="http://jquery.com/" target="_blank">{{ gettext('jQuery') }}</a>
                    </div>
                    <div class="col-md-6 about-col">
                        <a href="http://www.jacklmoore.com/colorbox/" target="_blank">TODO...</a>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 about-col">
                        <a href="http://tablesorter.com/docs/" target="_blank">TODO...</a>
                    </div>
                    <div class="col-md-6 about-col">
                        <a href="http://www.jetbrains.com/idea/" target="_blank">{{ gettext('JetBrains PyCharm') }}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 about-col">
                        <a href="http://blueimp.github.io/jQuery-File-Upload/" target="_blank">
                            jQuery File Upload</a>
                    </div>
                    <div class="col-md-6 about-col">
                        <a href="http://jqueryui.com/autocomplete/#remote-with-cache" target="_blank">jQuery UI</a>
                    </div>
                </div>

                <p style="margin-top: 20px">{{ gettext('Special thanks to:') }}</p>

                <div class="row">
                    <div class="col-md-6 about-col">
                        <a href="http://users.ece.utexas.edu/~adnan/" target="_blank">Dr. Adnan Aziz</a>
                    </div>
                    <div class="col-md-6 about-col">
                        <a href="http://www.ece.utexas.edu/people/faculty/suzanne-barber" target="_blank">Dr. Suzanne Barber</a>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">{{ gettext('Great, thanks!') }}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
