<div style="text-align: center;">
    <h4>{{ gettext('Selmy Application Platform') }}</h4>
    <h5>{{ gettext('By: Preston Landers') }}</h5>
    <H6>{{ gettext('The University of Texas at Austin') }}</H6>
    <h5>
        <small>{{ gettext('Department of Computer and Electrical Engineering') }}</small>
    </H5>
    <h5>
        {{ gettext('Selmy') + " v" + request.product_config.selmy_version }}
    </H5>
</div>
