<table class="table table-striped">
    <caption>
        <H4><b>{{ context.name }}</b> Details</H4>
    </caption>
    <tbody>
    {% set context_json = context.__json__(request) %}
    {% if not context_json|length %}
        <TR>
            <TD>
                <i>(None)</i>
            </TD>
            <TD>
                This item is empty.
            </TD>
        </TR>
    {% else %}
        {# display standard attributes except contents which is handled in browse.jinja2 #}
        {% for attr, val in context_json.items() if attr not in ("contents",) %}
            <TR>
                <TD>
                    {{ attr }}
                </TD>
                <TD>
                    {% if val.__class__.__name__ == "datetime" %}
                        {{ request.localize_datetime(context[attr]) }}
                    {% elif attr in ("uri", "parent_uri") %}
                        <A HREF="{{ val  }}">{{ val }}</A>
                    {# Got to be a better way to do the following... #}
                    {% elif val.__class__.__name__ in ("OrderedDict", "list") %}
                        {{ highlight_js_to_html(dumps(val)) |safe }}
                    {% else %}
                        {{ val }}
                    {% endif %}
                </TD>
            </TR>
        {% endfor %}

    {% endif %}

    </tbody>
</table>
