{% extends "layout.jinja2" %}
{% from 'resource_breadcrumb.jinja2' import resource_breadcrumb with context %}
{% block title %}
    {% trans %}Browsing:{% endtrans %} {{ context.get_path_name() }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>{{ resource_breadcrumb(context, "browse") }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>{{ context.description }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        {% if context|length %}
            <TABLE class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            {% trans %}Resource{% endtrans %}
                        </th>
                        <th>
                            {% trans %}Name{% endtrans %}
                        </th>
                        <th>
                            {% trans %}Description{% endtrans %}
                        </th>
                        <th>
                            {% trans %}Class{% endtrans %}
                        </th>
                        <th>
                            {% trans %}Created{% endtrans %}
                        </th>
                        <th>
                            {% trans %}Modified{% endtrans %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for child in context %}
                    <TR>
                        <TD>
                            <A HREF="{{ child.__uri__(request, prefix='browse') }}">{{ child.get_path_name(unquote=True) }}</A>
                        </TD>
                        <TD>
                            {{ child.name }}
                        </TD>
                        <TD>
                            {{ child.format_value(request) if child.value else gettext(child.description) }}
                        </TD>
                        <TD>
                            {{ child.__class__.__name__ }}
                        </TD>
                        <TD>
                            {{ request.localize_datetime(child.create_time) if child.create_time else '' }}
                        </TD>
                        <TD>
                            {{ request.localize_datetime(child.modify_time) if child.modify_time else ''}}
                        </TD>
                    </TR>
                {% endfor %}
                </tbody>
            </TABLE>
        {% else %}
            <p>
                {% trans %}This item has no other items beneath it.{% endtrans %}
            </p>
        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include 'browse_details.jinja2' %}
        </div>
    </div>
{% endblock %}
