{% extends "layout.jinja2" %}
{% block content %}
    {# The following localizes a pre-existing translation string (i.e., does not create one) #}
    <h1>{% trans %}Hello!{% endtrans %}</h1>
    <p>
        Some random paragraph. Project: {{ project }}
    </p>
    <p>
        x: {{ x }}
    </p>
    <p>
        {# TRANSLATORS: This demonstrates creating a translatable string which accepts a parameter from the view #}
        {{  gettext('The secret is: %(secret)s!', secret=secret) }}
    </p>
{% endblock %}
