{# This is the default home screen. #}
{% extends "layout.jinja2" %}

{% block content %}
    <div class="jumbotron">
        <H1>{{ gettext('Welcome to %(product)s.', product=gettext('Selmy')) }}</H1>
        <H3>{{ gettext('The intuitive business application platform.') }}</H3>
    </div>

    <h6>
        {{ gettext('This site is under active development.') }}
    </h6>
{% endblock %}
