<!DOCTYPE HTML>
<html lang="{{ request.locale_name }}">
<head>
    <title>
        {% if title %}
            {{ title }}
        {% else %}
            {% block title %}
            {% endblock %}
        {% endif %}
    </title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="keywords" content="python pyramid web application selmy"/>
    <meta name="description" content="pyramid web application"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ request.static_url('selmy:static/pyramid-16x16.png') }}"/>

    {# TODO: probably no need for these to be separate #}
    <script src="{{ request.static_url('selmy:static/webpack/vendor.js') }}"></script>
    <script src="{{ request.static_url('selmy:static/webpack/app.bundle.js') }}"></script>
    <link rel="stylesheet"
          href="{{ request.static_url('selmy:static/webpack/vendor.styles.css') }}" />

    <link id="bootswatch-theme" href="{{ request.theme_url }}" rel="stylesheet" media="screen">

    {#<link rel="stylesheet" href="{{ request.static_url('selmy:static/css/selmy.css') }}"/>#}
    <link rel="apple-touch-icon" href="{{ request.static_url('selmy:static/apple-touch-icon.png') }}">

    {# import "apex:templates/flash_template.jinja2" as flash with context-#}
    {% import "flash_template.jinja2" as flash with context -%}
    {{ flash.apex_head() }}

    {% block head_scripts %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div id="fb-root"></div>

{# Menu and Main Content area #}
<div id="mainContent">
    <div class="container">
        {% include 'menu.jinja2' %}
        <div class="under-menu-container">
            {% include 'flash_messages.jinja2' %}
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{# Page Footer #}
<div id="mainFooter">
    <div class="container">

        <div style="float: right; margin-top: 15px;">

            {% include 'about_footer.jinja2' %}

        </div>
    </div>
</div>

{% block body_scripts %}
{% endblock %}

</body>
</html>
