{% extends "layout.jinja2" %}
{% block content %}
    <h1>{% trans %}Manage Data Types{% endtrans %}</h1>
    <p>
        {% trans %}
            This screen lets you search, create, edit and delete your managed (user-defined)
            data types.
        {% endtrans %}
    </p>

    <div id="manage-app">
        <p>
            <!-- use router-link component for navigation. -->
            <!-- specify the link by passing the `to` prop. -->
            <!-- `<router-link>` will be rendered as an `<a>` tag by default -->
            <router-link to="/">Manage Home</router-link>
            <router-link to="/about" style="margin-left: 16px;">About</router-link>
        </p>
        <!-- route outlet -->
        <router-view></router-view>
    </div>

{% endblock %}

{% block head_scripts %}
    <script defer src="{{ request.static_url('selmy:static/webpack/vue_app.bundle.js') }}"></script>
{% endblock %}
