{% macro menu_item(label, target) %}
    {# TODO: target doesn't respect application root! #}
    <li class="{{ 'active' if request.path[:target|length] == target  }}">
        <a href="{{ target }}">{{ label }}</a>
    </li>
{%- endmacro %}

{% macro theme(name, resource) %}
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="#" rel="{{ request.static_url(resource) }}">
            {{ name }}
        </a>
    </li>
{%- endmacro %}

<nav id="mainMenu" class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target=".navbar-ex1-collapse">
			<span class="sr-only">{{ gettext('Toggle navigation') }}</span> <span class="icon-bar"></span>
			<span class="icon-bar"></span> <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{{ request.route_path("home") }}">
            {{ request.product_config.product_name }}
        </a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
            {{ menu_item(gettext('Browse'), request.route_path("browse_noslash", traverse="/") ) }}
            {{ menu_item(gettext('Manage'), "/manage" ) }}
            {{ menu_item(gettext('Report'), "/fake" ) }}
            {{ menu_item(gettext('Test'), request.route_path("test") ) }}
            {{ menu_item(gettext('Hello'), request.route_path("hello") ) }}
            {{ menu_item(gettext('Search'), "/fake" ) }}
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a data-toggle="dropdown" href="#">{{ gettext('Theme') }}</a>
				<ul class="dropdown-menu theme-dropdown-menu" role="menu" aria-labelledby="dLabel">
                    {{ theme(gettext('Amelia'), 'selmy:static/css/themes/bootstrap.amelia.min.css') }}
                    {{ theme(gettext('Cerulean'), 'selmy:static/css/themes/bootstrap.cerulean.min.css') }}
                    {{ theme(gettext('Cosmo'), 'selmy:static/css/themes/bootstrap.cosmo.min.css') }}
                    {{ theme(gettext('Cyborg'), 'selmy:static/css/themes/bootstrap.cyborg.min.css') }}
                    {{ theme(gettext('Darkly'), 'selmy:static/css/themes/bootstrap.darkly.min.css') }}
                    {{ theme(gettext('Flatly'), 'selmy:static/css/themes/bootstrap.flatly.min.css') }}
                    {{ theme(gettext('Journal'), 'selmy:static/css/themes/bootstrap.journal.min.css') }}
                    {{ theme(gettext('Lumen'), 'selmy:static/css/themes/bootstrap.lumen.min.css') }}
                    {{ theme(gettext('Readable'), 'selmy:static/css/themes/bootstrap.readable.min.css') }}
                    {{ theme(gettext('Simplex'), 'selmy:static/css/themes/bootstrap.simplex.min.css') }}
                    {{ theme(gettext('Slate'), 'selmy:static/css/themes/bootstrap.slate.min.css') }}
                    {{ theme(gettext('Spacelab'), 'selmy:static/css/themes/bootstrap.spacelab.min.css') }}
                    {{ theme(gettext('Superhero'), 'selmy:static/css/themes/bootstrap.superhero.min.css') }}
                    {{ theme(gettext('United'), 'selmy:static/css/themes/bootstrap.united.min.css') }}
                    {{ theme(gettext('Yeti'), 'selmy:static/css/themes/bootstrap.yeti.min.css') }}
				</ul>
			</li>

            {% include 'menu_login.jinja2' %}
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</nav>
