{% if request.user %}
    <li class="dropdown">
        <a data-toggle="dropdown" href="#"><strong>
            {{ request.user_label }}
        </strong></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            {#            <li role="presentation">#}
            <li>
                {# TODO: link to your profile page here #}
                <a role="menuitem" tabindex="-1">
                    {{ gettext('Signed in as') }}
                    <strong>
                        {{ request.user_label }}
                    </strong>
                </a>
            </li>
            {#            <li role="presentation">#}
            <li>
                <a role="menuitem" tabindex="-1" href="{{ request.route_path('apex_logout') }}">
                    {{ gettext('Sign Out') }}
                </a>
            </li>
        </ul>
    </li>

{% else %}
    <li>
        <a href="{{ request.route_path('apex_login') }}">
            {{ gettext('Sign In') }}
        </a>
    </li>
{% endif %}
