<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ request.locale_name }}" lang="{{ request.locale_name }}">
<head>
    <title>The Pyramid Web Application Development Framework</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="keywords" content="python web application"/>
    <meta name="description" content="pyramid web application"/>
    <link rel="shortcut icon" href="{{ request.application_url }}/static/favicon.ico"/>
    <!-- Bootstrap core CSS -->
    <link href="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ request.static_url('selmy:static/theme.css') }}" rel="stylesheet">

    {# import "apex:templates/flash_template.jinja2" as flash with context-#}
    {% import "flash_template.jinja2" as flash with context -%}
    {{ flash.apex_head() }}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="starter-template">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img class="logo img-responsive" src="{{ request.static_url('selmy:static/pyramid.png') }}"
                     alt="pyramid web framework">
            </div>
            <div class="col-md-10">
                <div class="content">
                    <h1><span class="font-semi-bold">Pyramid</span> <span class="smaller">starter template</span></h1>
                    {{ flash.apex_flash() }}
                    <p class="lead">
                        Hello, sailor. Welcome to <span class="font-normal">{{project}}</span>, an&nbsp;application
                        generated&nbsp;by<br>the <span class="font-normal">Pyramid Web Framework</span>.
                    </p>

                    <div class="locale">
                        <h2>{% trans %}Hello!{% endtrans %}</h2>

                        <p>Request performed with <span class="locale-name">{{ request.locale_name }}</span> locale.</p>

                        <p>
                            Here's my object: {{ one.value }}: {{ one.name }}
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="left" class="align-right">
                <h3>Search Pyramid documentation</h3>

                <form method="get" action="http://docs.pylonshq.com/pyramid/dev/search.html">
                    <input type="text" id="q" name="q" value=""/>
                    <input type="submit" id="x" value="Search"/>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="links">
                <ul>
                    <li class="current-version">Currently v1.5</li>
                    <li><i class="glyphicon glyphicon-bookmark icon-muted"></i><a href="http://docs.pylonsproject.org">Docs</a>
                    </li>
                    <li><i class="glyphicon glyphicon-cog icon-muted"></i><a href="https://github.com/Pylons/pyramid">Github
                        Project</a></li>
                    <li><i class="glyphicon glyphicon-globe icon-muted"></i><a href="irc://irc.freenode.net#pyramid">IRC
                        Channel</a></li>
                    <li><i class="glyphicon glyphicon-home icon-muted"></i><a href="http://pylonsproject.org">Pylons
                        Project</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="copyright">
                Copyright © Pylons Project - {{ copyright }}
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//oss.maxcdn.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
