{% macro resource_breadcrumb(resource, prefix) %}
{#    <A HREF="{{ request.route_path(prefix+"_noslash", traverse="/") }}" TITLE="{{ gettext('Root') }}">{{ gettext('Root') }}</A>&nbsp;#}
    {% for res_component in walk_path(resource) %}
        {% set root = request.root %}
        {% set is_root = res_component == root %}
        {% if not is_root %}
            &gt;
        {% endif %}
        <A HREF="{{ res_component.__uri__(request, prefix=prefix) }}">
            {{ res_component.name if not is_root else gettext("Browse") }}
        </A>
    {% endfor %}
{% endmacro %}
