@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    /*color: #ffffff;*/
    /*background: #bc2131;*/
}

.alert {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background: none;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.1) 0 1px 0;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.1) 0 1px 0;
    border-radius: 6px;
    border: 0px solid rgba(0, 0, 0, 0.25);
}

ul.dropdown-menu > li {
    margin: 5px;
}


.thick-shadow {
    -webkit-box-shadow: 7px 7px 5px #ccc;
    box-shadow: 7px 7px 5px #ccc;
}


.page-header {
    margin-top: 0px;
}


.social-buttons {
    opacity: 0;
}

.about-col {
    margin-top: 5px;
}

.welcome-buttons-row A {
    margin-top: 20px;
}

.simple-group {
    margin-right: 0;
    margin-left: 0;
    /*background-color: #fff;  *//* TODO: Color... */
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    padding: 1em;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#mainContent {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#mainFooter {
    height: 60px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#mainContent > .container {
    padding: 30px 15px 0;
}

#mainContent .under-menu-container {
    /*width: 100%;*/
    padding-left: 10px;
    padding-right: 10px;
}

.container .credit {
    margin: 20px 0;
}

#mainFooter > .container {
    padding-left: 15px;
    padding-right: 15px;
}

code {
    font-size: 80%;
}
